




{.carousel 
    width: 100%;
    overflow: hidden;
  }
  {.slide 
    width: 100%;
    display: none;
  }
  
 { body 
    background: linear-gradient(to bottom, #1b0232, #30008f);
  }


  #services ul {
  list-style: none;
}
.no-bullet {
  list-style: none;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

.line1 {
  transform: rotate(45deg) translate(5px, 6px);
}

.line2 {
  opacity: 0;
}

.line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

  




